@foreach (var experience in Data)
{
    <div class="project-item @(experience.selected ? "selected" : "")">
        @if (experience.logo != "")
        {
            <img class="bar-pfp" src="@experience.logo" alt="@(experience.project) logo">
            <hr class="vertical">
        }
        <div class=project-item-info>
            <div class="item-info-bar">
                <p class="skill-item-name"> @experience.project </p>
                <p class="skill-item-location"> @experience.location </p>
                <p class="skill-item-name"> @experience.date </p>
            </div>
            <hr class="horizontal">
            <div class="item-info-description">
                <p class="description-text"> @experience.description </p>
                <div class="info-description@(experience.columns ? "-columns" : "")">
                    @if (experience.columns)
                    {
                        int columnCount = 0;
                        int descriptionCount = 0;

                        while (descriptionCount < experience.details.Count)
                        {
                            <ExperienceDescriptionColumn Data=@experience.details.Skip(columnCount * increment).Take(increment).ToList() />
                            descriptionCount += increment;
                            columnCount++;
                        }
                    }
                    else
                    {
                        <ExperienceDescriptionColumn Data=@experience.details />
                    }
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public List<Components.Experience> Data { get; set; } = new List<Components.Experience>();

    private const int increment = 6;
}